body {
  background: #000;
}

video {  /*proprietà video sottofondo*/
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.form { /*proprietà form*/
  margin: auto;
  margin-top: 5%;
  width: 100%;
}

.logo {  /*proprietà logo*/
  margin: 0 auto;
  display: block;
  width: 500px;
}

.inputText {  /*proprietà input nickname*/
  font-weight: bold;
  margin: auto;
  margin-top: 5%;
  display: block;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  background: #fff;
  text-align: center;

}


.inputSubmit {  /*proprietà bottone gioca*/
  margin: auto;
  margin-top: 30px;
  display: block;
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  background: #c00;
  color: #fff;
  cursor: pointer;
  /*per far si che puntando su gioca si abbia il curose a mano*/
}
 
.selectDifficulty {  /*proprietà div bottoni seleziona difficoltà*/
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.facile {  /*proprietà bottone facile*/
  font-weight: bold;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  background: linear-gradient(to right, green, greenyellow, greenyellow, green);
  background-size: 600%;
  animation: rainbow 10s ease infinite;
  color: #fff;
  cursor: pointer;
}

.medio {  /*proprietà bottone medio*/
  font-weight: bold;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  background: linear-gradient(to right, orangered, orange, orange, orangered);
  background-size: 600%;
  animation: rainbow 10s ease infinite;
  color: #fff;
  cursor: pointer;
}

.difficile { /*proprietà bottone difficile*/
  font-weight: bold;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  background: linear-gradient(to right, red, orangered, orangered, red);
  background-size: 600%;
  animation: rainbow 10s ease infinite;
  color: #fff;
  cursor: pointer;
}

.leggenda {   /*proprietà bottone leggenda*/
  font-weight: bold;
  float: left;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  border-radius: 10px;
  background: linear-gradient(to right, blue, blueviolet, blueviolet, blue);
  background-size: 600%;
  animation: rainbow 10s ease infinite;
  color: white;
  cursor: pointer;
}

button:hover {  /*proprietà cursore sopra i bottoni*/
  background-color: black;
  font-weight: bold;
}

button:hover {
  background-color: rgb(255, 253, 253);
  color: #000000;
}

#levelSetted{   /*proprietà contenitore difficoltà selezionata*/
  background: linear-gradient(to right, rgb(160, 160, 160), rgb(255, 255, 255), rgb(113, 113, 113), rgb(248, 249, 248));
  background-size: 600%;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  animation: rainbow 10s ease infinite;
  width: 80px;
  height: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  padding: 10px;
}

#h3LevelSetted{  /*proprietà etichetta level*/
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@keyframes rainbow { /*animazioni*/
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 600%;
  }
}

footer {
  text-align: center;
  margin-top: 170px;
}

footer>p {
  font-size: 30px;
  color: #fff;
  font-family: Marker Felt;
}

button>a {  /*proprietà link a game.html*/
  text-decoration: none;
  color: inherit;
}